.tooltip {
  background-color: var(--bg);
  border: var(--light-grey) 1px solid;
  font-size: 12px;
  font-weight: normal;
  max-width: 25em;
  padding: 1em;
  position: fixed;
  z-index: 10;
}

.tooltip:after {
  background: var(--bg);
  border-bottom: inherit;
  border-right: inherit;
  content: "";
  height: 10px;
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateY(calc(-50% - 1px)) translateX(-50%) rotate(-135deg);
  width: 10px;
}
