.wrapper {
  align-items: flex-start;
  background-color: var(--accent);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 3em 0;
  width: 100vw;
}

.container {
  background-color: var(--bg);
  padding: 2em;
  width: 80em;
}

.title {
  text-align: center;
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}

/* divider */
.content > * + * {
  border-left: var(--light-grey) 1px solid;
}

.content > * {
  flex: 1;
}

.description {
  padding-right: 1em;
}

.qna {
  flex-grow: 3;
  padding-left: 2em;
}

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-title {
  margin-top: 0;
}

.header-actions > *:first-child {
  margin-right: 0.5em;
}

.form {
  margin-top: 2em;
}

.no-questions {
  background-color: var(--lighter-grey);
  border: var(--grey) 1px solid;
  border-radius: 5px;
  color: var(--grey);
  padding: 2em;
}

@media only screen and (max-device-width: 640px) and (orientation: portrait) {
  .content {
    flex-direction: column;
  }

  /* divider */
  .content > * + * {
    border-left: none;
    border-top: var(--light-grey) 1px solid;
    padding-top: 2em;
  }

  .description {
    margin-bottom: 2em;
    padding-right: 0;
    text-align: center;
  }

  .qna {
    padding-bottom: 2em;
    padding-left: 0;
  }

  .header {
    flex-direction: column;
  }

  .header-actions {
    margin-top: 1em;
  }

  .form-title {
    text-align: center;
  }
}
