.button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:focus {
  box-shadow: 0 0 0 3px var(--highlight);
  outline: none;
}

.button:disabled {
  opacity: 0.7;
  pointer-events: none;
}

.regular {
  padding: 0.5em 1em;
}

.small {
  font-size: 14px;
  padding: 0.3em 0.6em;
}

.large {
  font-size: 18px;
  padding: 0.8em 1.5em;
}

.primary {
  background-color: var(--blue);
  color: var(--bright-font);
}

.primary:hover {
  background-color: var(--light-blue);
}

.primary:active {
  background-color: var(--dark-blue);
}

.secondary {
  background-color: var(--bg);
  border: var(--grey) 1px solid;
  color: var(--grey);
}

.secondary:hover {
  background-color: var(--grey);
  color: var(--bright-font);
}

.secondary:active {
  background-color: var(--dark-grey);
  border-color: var(--dark-grey);
}

.warning {
  background-color: var(--yellow);
}

.warning:hover {
  background-color: var(--light-yellow);
}

.warning:active {
  background-color: var(--dark-yellow);
  color: var(--bright-font);
}

.danger {
  background-color: var(--red);
  color: var(--bright-font);
}

.danger:hover {
  background-color: var(--light-red);
}

.danger:active {
  background-color: var(--dark-red);
  color: var(--bright-font);
}
