.row {
  border: var(--light-grey) 1px solid;
  padding: 1em;
}

.row:nth-child(n + 2) {
  border-top: 0;
}

.question {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question-text {
  cursor: pointer;
  user-select: none;
}

.question-text:hover {
  text-decoration: underline;
}

.actions {
  flex-shrink: 0;
  margin-left: 2em;
}

.mobile-actions {
  display: none;
}

.action {
  margin-left: 0.5em;
}

.answer {
  border-left: var(--light-grey) 1px solid;
  color: var(--light-font);
  margin-left: 0;
  padding: 1em;
  white-space: pre-wrap;
}

.editing {
  background-color: var(--lighter-yellow);
}

@media only screen and (max-device-width: 640px) and (orientation: portrait) {
  .question {
    flex-direction: column;
  }

  .question-text {
    padding: 1em 0;
  }

  .actions {
    display: none;
  }

  .mobile-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
  }
}
